.skeleton-r-p {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    row-gap: 8%; 
}

.skeleton-arr-p{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    place-items: center;
    gap: 5px;
    box-sizing: border-box;
    /* padding: 0 7%;  */
}

 .skeleton-r {
    width: 160px;
    height: 160px;
    border-radius: 100%; 
    position: relative;
    overflow: hidden;
    background-color: #d8d8d8e3; 
    animation: shimmer 1.5s infinite linear;
}
.skeleton-prg {
    width: 150px;
    height: 25px;
    background-color: #d8d8d8e3; 
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    animation: shimmer 1s infinite linear;
}
.skeleton-arr {
    width: 217px;
    height: 370px;
    border-radius: 6px; 
    background-color: #d8d8d8e3; 
    position: relative;
    overflow: hidden; 
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    0% {
        background-color: #ddd;
    }

    50% {
        background-color: #bbbbbb;
    }

    100% {
        background-color: #ddd;
    }
}

.skeleton-r::after {
    content: '';
    width: 160px;
    height: 160px; 
    /* box-shadow: 40px 0 0px #d6d6d67e; */
    position: absolute;
    animation: trans 1.3s infinite linear;
}

.skeleton-prg::after {
    content: '';
    width: 150px;
    height: 25px;  
    box-shadow:0 0 40px#f0f0f085;
    position: absolute;
    animation: trans 1.3s infinite linear;
}

.skeleton-arr::after {
    content: '';
    width: 400px;
    height: 400px; 
    box-shadow:0 0 100px #b6b6b685;
    position: absolute;
    animation: trans 1.3s infinite linear;
}

@keyframes trans {
    0% {
        transform: translateX(-100px); 
    }
    100% {
        transform: translateX(100%);
    }
} 
 