.icon-parent{
    display: none;
    background-color: #000;
    height: 50px;
    width: 100%;
}

/*
==================================
 @media all and (max-width:391px){} 
================================== 
 */
 
 @media all and (max-width:391px){
    .icon-parent{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 30px;
        /* margin-top: -50px;   */
        overflow: visible;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #000;
     }
     .icon{
        margin-top: -20px;
        color: #fff;
        background-color: #000;
        transition: all 0.3s ease;
     }
     /* hover effect */
     .icon:hover{
        background-color: #fff;
        color: #000;
     }
 }