.displayP{
    position: absolute;
    top: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    background: #750a0a;
    box-sizing: border-box;
    padding: 1% 1% 0 1%;
    max-width:  100%;
}
 
.displayT{
    font-size: 11px;
    text-transform: lowercase;
    text-align: center;
    color: #ffffff;
}
.displayP::-webkit-scrollbar{
    width: 2px;
}