.displayP{
    position: absolute;
    top: 15vh;
    left: 1%;
    /* height: 40vh; */
    max-height: 40vh;
    width: 10%;
    background: #34053a;
    color: #fff;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0.2%;
    box-shadow:inset 0px 0px 4px #000 ;
    text-align: center;
}
.displayP ul{
    width: 100%;
}
.displayT{
    font-size: 11px;
    text-transform: capitalize;
    text-transform: uppercase;
}
/* hide webkit scrollY */
.displayP::-webkit-scrollbar{
    /* display: none; */
    width: 2px;
}