.shopItemP{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.shopParent {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 3% 2%;
}
.shopParent label{
    display: flex;
    gap: 3%;
}
.shopParent ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.shopParent ul li:nth-child(1){
    /* color: rgb(161, 129, 24); */
    font-weight: 500;
    padding-left: 5px;
}
.shopParent ul li:nth-child(2){
    position: absolute;
    right: 7%;
}
.shopChild1{
    width: 20%;
    box-sizing: border-box;
    /* padding: 1%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shopChild2{
    width: 80%;
}
.shopItem{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.192);
    box-sizing: border-box;
    padding: 10px;
}
.shopItemContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.shopBtn{
    width: 100%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    box-sizing: border-box;
    padding: 10px;
}

.shopBtn:hover{
    background-color:rgb(116, 10, 10);;
    color: #fff;
}
.shopBanner{
    width: 100%;
    height: 200px;
    background-position: 200px, 0;
}
.shopBrand{
    position: relative;
    bottom: 55%;
    left: 46%;
}
.shopFilter,
.brand {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    color: rgb(116, 10, 10);
    display: flex;
    flex-direction: column;
    gap: 6px;
}
