 .shopParent {
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 3% 2%;
}
.shopParent label{
    display: flex;
    gap: 3%;
}
.shopParent ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.shopParent ul li:nth-child(1){
    /* color: rgb(161, 129, 24); */
    font-weight: 500;
    padding-left: 5px;
}
.shopParent ul li:nth-child(2){
    position: absolute;
    right: 7%;
}
.shopChild1{
    width: 20%;
    box-sizing: border-box;
    /* padding: 1%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shopChild2{
    width: 80%;
}
.shop-arr{  
    display: grid;
     grid-template-columns: repeat(4,1fr);
     place-items: center;
     gap: 5px;
     box-sizing: border-box;
     width: 100%;
     padding: 0.5%;
 }
 .shop-arr-i{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     scroll-snap-align: start;
     gap: 4px;
     border-radius: 1%;
     cursor: pointer;
     transition: transform 0.3s;
     box-sizing: border-box;
     padding: 9px 9px;
 }
 .shop-arr-img{
     width: 100%;
     height: 220px;
     background-position: center;
     background-size: cover;
     border-radius: 1%;
 }
 .shop-arr-title{
     text-transform: lowercase;
 }
 .shop-arr-title::first-letter{
     text-transform: capitalize;
 } 
 .shop-btn-arr{
     padding: 8px 40px;
     border-radius: 30px;
     transition: all 0.3s ease-in-out;
 } 

.shopBtn{
    width: 100%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    box-sizing: border-box;
    padding: 10px;
}

.shopBtn:hover{
    background-color:rgb(116, 10, 10);;
    color: #fff;
}
.shopBanner{
    width: 100%;
    height: 200px;
    background-position: 200px, 0;
}
.shopBrand{
    position: relative;
    bottom: 55%;
    left: 46%;
}
.shopFilter,
.brand {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    color: rgb(116, 10, 10);
    display: flex;
    flex-direction: column;
    gap: 6px;
}
