.menu-p{
    background: #ffffff;
    color: rgb(36, 44, 17);
    box-shadow: 2px 0px 6px #0000003b;
}
.menu-p ul li{
    box-sizing: border-box;
    padding: 5px 5px;
    background-color: rgba(102, 99, 89, 0.075);
    margin: 6px 0px;
}
.menu-title{
    box-shadow: 2px 0px 6px #0000003b;
    background: rgb(161, 129, 24);
    color: rgb(36, 44, 17);
}
.menu-t {
    color: rgb(161, 129, 24);
}